/* Style pour la classe event-card */
.event-card {
    -fx-background-color: #f0f0f0; /* Couleur de fond */
    -fx-border-color: #cccccc; /* Couleur de la bordure */
    -fx-border-width: 1px; /* Largeur de la bordure */
    -fx-border-radius: 5px; /* Rayon des coins de la bordure */
    -fx-padding: 10px; /* Marge intérieure */
}

/* Style pour le bouton participationButton */
.button {
    -fx-background-color: #4CAF50; /* Couleur de fond */
    -fx-text-fill: white; /* Couleur du texte */
    -fx-font-size: 14px; /* Taille de la police */
    -fx-padding: 8px 16px; /* Marge intérieure */
    -fx-border-radius: 5px; /* Rayon des coins */
    -fx-border-color: transparent; /* Couleur de la bordure */
}

/* Style pour le texte */
.label {
    -fx-font-size: 14px; /* Taille de la police */
    -fx-text-fill: #333333; /* Couleur du texte */
}
